<div fxLayout="row" fxLayoutAlign="center center" style="height: 100%;">
  <div class="forgot mat-elevation-z12">
    
       <div class="forgot-header" fxLayout="column" fxLayoutAlign="center center">
      <img src="assets/img/icon.png">
       </div>
       
    <form #formCtrl="ngForm" (ngSubmit)="send(formCtrl.value)">

       <div *ngIf="forgotSuccess" class="form-success">{{forgotSuccessMessage}}</div>
       <div *ngIf="forgotFail" class="form-fail">{{forgotFailMessage}}</div>

      <div class="forgot-content" fxLayout="column" fxLayoutAlign="start stretch">

    <div class="form-group">
        <md-input-container >
          <input mdInput placeholder="Name" type="text" name="name" [(ngModel)]="formCtrl.name" minlength="5" maxlength="15" #name="ngModel" required>
        </md-input-container>
        <div *ngIf="name.errors && (name.dirty || name.valid)" >
          <div [hidden]="!name.errors.required" class="alert-alert-danger">
            Username is required.
          </div>
          <div [hidden]="!name.errors.minlength" class="alert-alert-danger">
          Username must be at least 5 characters long.
          </div>
        </div>
    </div>
  
    
      <div class="form-group">
        <md-input-container>
          <input mdInput placeholder="E-mail" type="text" name="email" [(ngModel)]="formCtrl.email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" #email="ngModel" required>
        </md-input-container>
        <div *ngIf="email.errors && (email.dirty || email.valid)" >
          <div [hidden]="!email.errors.required" class="alert-alert-danger">
            Email is required. 
          </div>
          <div [hidden]="!email.errors.pattern" class="alert-alert-danger">
          Email must be in the form of abc@xyz.com
          </div>
        </div>
     </div>

      <div class="form-group">
        <md-input-container>
          <input mdInput placeholder="Password" type="password" name="password" pattern="((?=.*\d)(?=.*[a-zA-Z]).{8,15})" minlength="8" maxlength="15" [(ngModel)]="formCtrl.password" #password="ngModel" required >
        </md-input-container>
        <div *ngIf="password.errors && (password.dirty || password.valid)" >
          <div [hidden]="!password.errors.required" class="alert-alert-danger">
            Password is required.
          </div>
          <div [hidden]="!password.errors.pattern" class="alert-alert-danger">
            Password must contain at least one alphabet, one number and 8 digit.
          </div>
            
        </div>
      </div>
      
      <div class="form-group">
        <md-input-container>
          <input mdInput placeholder="Re-password" type="password" name="rePassword"  [(ngModel)]="formCtrl.rePassword"  validateEqual="password" #rePassword="ngModel" required>
        </md-input-container>
      <div *ngIf="rePassword.errors && (rePassword.dirty || rePassword.valid)" >  
          <div [hidden]="rePassword.valid || rePassword.pristine" class="alert-alert-danger">
          Password and re-password did not match.
         </div>
        </div>
      </div>
      
       <div class="form-group">
        <md-input-container>
          <input mdInput placeholder="CountryCode. " type="text" name="countryCode" [(ngModel)]="formCtrl.counryCode" #countryCode="ngModel" required >
        </md-input-container>
       
        <div *ngIf="countryCode.errors && (countryCode.dirty || countryCode.valid)" >
          <div [hidden]="!countryCode.errors.required" class="alert-alert-danger">
           Country Code is required.
          </div>
          
        </div>
      </div>
        
      <div class="form-group">
        <md-input-container>
          <input mdInput placeholder="Phone" type="text" name="phone" maxlength="10" minlength="10" pattern="[0-9]*" [(ngModel)]="formCtrl.phone" #phone="ngModel" required>
        </md-input-container>

        <div *ngIf="phone.errors && (phone.dirty || phone.valid)" >

          <div [hidden]="!phone.errors.required" class="alert-alert-danger">
            Phone no.is required.
          </div>
     
          <div [hidden]="!phone.errors.pattern" class="alert-alert-danger">
           Mobile number should be only numbers
          </div>
        
        </div>

    
      </div>
     
     <div class="form-group">
       <input type="checkbox" name="confirm" value="T" [(ngModel)]="formCtrl.confirm" #confirm="ngModel" required>I have read and agree to the Terms and Conditions and Privacy Policy
         <div *ngIf="confirm.errors && (confirm.dirty || confirm.touched)" >
          <div [hidden]="!confirm.errors.required" class="alert-alert-danger">
            Confirm field is required. 
          </div>
        </div>
      </div>

        <button color="primary" type="submit" id="submitBtn" md-raised-button [disabled]="!formCtrl.form.valid" >SUBMIT</button>
        <p class="note"><a [routerLink]="['/login']">Go to login</a></p>
    
      </div>
      
    </form>

  </div>
</div>
